.navigation__button {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 45px;
    height: 46px;
    border: none;
    margin-right: -10px;
    background-color: transparent;
    @media (min-width: $width-md) {
        display: none;
    }
}

.no-js .navigation__button {
    display: none;
}