.category-blocks__desc {
    margin: 0;
    margin-bottom: 20px;
    padding-bottom: 22px;
    padding-top: 20px;
    font: inherit;
    color: $text-dark-light;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.2;
    border-bottom: 2px solid #d9d9d9;
    @media (min-width: $width-md) {
        font-size: 16px;
        border-bottom: none;
        padding: 0;
        margin: 0 0 60px 0;
    }
}