.section-menu__logo-text {
    display: block;
    width: 101px;
    height: 18px;
    background-image: url("../img/logo-text.svg");
    background-repeat: no-repeat;
    background-size: 101px 18px;
}