.navigation__links {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font: inherit;
    color: rgba(17, 17, 17, 1.0);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    padding: 20px 0;
    &:hover,
    &:focus {
        color: rgba(17, 17, 17, $opacity-60);
    }
    &:active {
        color: rgba(17, 17, 17, $opacity-30);
    }
    @media (min-width: $width-md) {
        position: relative;
        font-size: 18px;
        padding: 10px 0;
        font-weight: 400;
    }
    @media (min-width: $width-lg) {
        color: #fff;
    }
}

