.navigation__links {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font: inherit;
    color: $text-dark-dark;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    padding: 20px 0;
    &:hover,
    &:focus {
        opacity: $opacity-60;
    }
    &:active {
        opacity: $opacity-30;
    }
}

