.navigation__bar_bot {
    margin-top: 7px;
    transition: margin-top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), 
    transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.opened .navigation__bar_bot {
    margin-top: 0;
    transform: rotate(-45deg);
    transition: margin-top 300ms cubic-bezier(0.23, 1, 0.32, 1), 
    transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}