.section-header__promo {
    margin: 0;
    width: 280px;
    height: 271px;
    left: 50%;
    margin-left: -140px;
    bottom: -135px; 
    position: absolute;
    background-image: url("../img/index-can-small.png");
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: 280px 271px;
}