.section-menu__content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 66px;
    @media (min-width: $width-md) {
        justify-content: space-between;
        height: 110px;
    }
}