.container {
    width: $width-xl;
    height: auto;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    @media (min-width: $width-md) {
        width: $width-md;
        padding: 0 30px;
    }
}