.section-menu__logo-icon {
    position: absolute;
    top: 14px;
    left: 20px;
    width: 33px;
    height: 38px;
    background-image: url("../img/logo-image-small.svg");
    background-repeat: no-repeat;
    background-size: 33px 38px;
    @media (min-width: $width-md) {
        display: block;
        position: static;
        width: 175px;
        height: 70px;
        background-image: url("../img/logo-image-medium.svg");
        background-size: 175px 70px;
    }
}