.category-blocks__items_icons_slim::after {
    content: "";
    position: absolute;
    top: 17px;
    left: 25px;
    width: 40px;
    height: 49px;
    background-image: url("../img/icon-weight-loss.svg");
    background-size: 40px 49px;
    background-repeat: no-repeat;
    @media (min-width: $width-md) {
        top: 80px;
        left: auto;
        right: 25px;
        width: 265px;
        height: 200px;
        background-size: 265px 200px;
    }
}