.html-academy {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    opacity: 1;
    transition: opacity 0.3s ease;
    &:hover > .html-academy__logo,
    &:focus > .html-academy__logo {
        fill: $button-green;
        transition: fill 0.3s ease;
    }
    &:active {
        opacity: $opacity-30;
        transition: opacity 0.3s ease;
    }
    @media (min-width: $width-md) {
        width: 165px;
    }
}