.alive-example__llustration-toggle-block {
    position: relative;
    width: 84px;
    height: 14px;
    border: 1px solid #cdcdcd;
    border-radius: 6px;
    box-sizing: border-box;
    margin: 0 20px;
    padding: 3px 5px;
}