.category-blocks__items {
    position: relative;
    background-color: $page-bg-grey;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    @media (min-width: $width-md) {
        padding: 80px 270px 55px 60px;
        margin-bottom: 30px;   
    }
    @media (min-width: $width-lg) {
        max-width: 540px;
        padding: 50px 50px 60px;
        margin-bottom: 40px;   
    }
}

.category-blocks__items:last-child {
    @media (max-width: 1299px) {
        margin-bottom: 0;
    }
}

