.category-blocks__items {
    position: relative;
    background-color: $page-bg-grey;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    @media (min-width: $width-md) {
        padding: 80px 270px 55px 60px;
        margin-bottom: 30px;   
    }
}

.category-blocks__items:last-child {
    margin-bottom: 0;
}
