.map__caption {
    margin: 0;
    width: 140px;
    font: inherit;
    color: $text-dark-dark;
    font-size: 16px;
    line-height: 1.250em;
    @media (min-width: $width-md) {
        font-size: 20px;
    }
}