.category-blocks__items_icons_pro::after {
    content: "";
    position: absolute;
    top: 31px;
    left: 10px;
    width: 67px;
    height: 28px;
    background-image: url("../img/icon-weight-gain.svg");
    background-size: 67px 28px;
    background-repeat: no-repeat;
    @media (min-width: $width-md) {
        top: 137px;
        left: auto;
        right: 29px;
        width: 270px;
        height: 115px;
        background-size: 270px 115px;
    }
}