.alive-example__llustration-button {
    text-transform: uppercase;
    font: inherit;
    font-size: 16px;
    line-height: 1.2em;
    color: inherit;
    border: none;
    background-color: transparent;
    padding: 0;
    border-bottom: 1px dotted #bebebe;
    &:hover,
    &:focus {
        border-bottom: 1px solid #bebebe;
    }
    &:active {
        border-bottom: none;
    }
}