$page-bg-white: #fff;
$page-bg-grey: #f2f2f2;
$button-green: #68b738;
$button-green-hover: #5eaa2f;
$button-grey: #f2f2f2;
$button-grey-hover: #ebebeb;
$text-dark-dark: #111111;
$text-dark: #222222;
$text-dark-light: #444444;
$opacity-100: 1.0;
$opacity-80: 0.8;
$opacity-60: 0.6;
$opacity-30: 0.3;
$width-xl: auto;
$width-md: 768px;
$width-lg: 1440px;