.section-menu__logo-icon {
    display: block;
    width: 33px;
    height: 38px;
    background-image: url("../img/logo-image-small.svg");
    background-repeat: no-repeat;
    background-size: 33px 38px;
}