.alive-example__list {
    @include list-reset();
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media (min-width: 425px) {
        max-width: 425px;
        margin: 0 auto 40px;
    }
    @media (min-width: $width-md) {
        margin: 0;
        width: 367px;
    }
    @media (min-width: $width-lg) {
        margin-bottom: 70px;
        width: 410px;
    }
}