.footer__logo {
    text-decoration: none;
    display: block;
    margin: 0 auto;
    width: 128px;
    height: 24px;
    background-image: url("../img/logo-text.svg");
    background-repeat: no-repeat;
    background-size: 128px 24px;
    margin-bottom: 30px;
}